doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/custom.min.css')
    title= title
  body
    nav(class='navbar navbar-expand-lg navbar-dark bg-dark')
      div(class='navbar-brand') Vue.jsの練習
    div(class='container py-3')
      block content
    script(src="/javascripts/bundle.js")
