doctype html
html
  head
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/custom.min.css')
    title= title
  body
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
      a.navbar-brand(href='/') Vue.jsの練習
    div.container.py-3
      block content
    script(src="/javascripts/bundle.js")
