extends ../layout

block content
  h1 ユーザー一覧
  table.table
    thead
      tr
        th 名前
        th メールアドレス
    tbody
      for user in users
        tr
          td #{user.name}
          td #{user.email}
