extends ../layout

block content
  h1 ユーザー登録
  form(method="post" action="/users")
    p
      span ユーザー名:
      input(type="text" name="username")
    p
      span パスワード:
      input(type="password" name="password")
    p
      span メールアドレス:
      input(type="text" name="email")
    p
      button(type="submit") 登録する

