extends ../layout

block content
  div.row
    div.col-sm-4
    div.col-sm-8
      h1 アカウント作成
  form(id='signup-form' method='post' action='/users' autocomplete='off' @submit.prevent='validate')
    input(type='hidden' name='_csrf' value=`${csrfToken}`)
    div.form-group
      div#username.row.py-2
        div.col-sm-4
        div.col-sm-4
          input.form-control(type='text' name='username' v-model='username' placeholder='名前（またはニックネーム）' autofocus)
        div.col-sm-4
          span.oi.oi-check.text-success(v-if='valid' aria-hidden='true')
          span.oi.oi-x.text-danger(v-if='valid === false' aria-hidden='true') {{ message }}
      div#password.password.row.py-2
        div.col-sm-4
        div.col-sm-4
          div.field
            input.form-control(type='password' name='password' v-model='password' placeholder='パスワード')
          div.score
            span
              b.fill(:style='passwordStrength')
        div.col-sm-4
          span.oi.oi-check.text-success(v-if='valid' aria-hidden='true')
          span.oi.oi-x.text-danger(v-if='valid === false' aria-hidden='true') {{ message }}
      div#email.row.py-2
        div.col-sm-4
        div.col-sm-4
          input.form-control(type="text" name="email" v-model='email' placeholder='メールアドレス')
        div.col-sm-4
          span.oi.oi-check.text-success(v-if='valid' aria-hidden='true')
          span.oi.oi-x.text-danger(v-if='valid === false' aria-hidden='true') {{ message }}
          span.oi.oi-timer.text-info(v-if='loading' aria-hidden='true') 確認しています…
      div.row.py-2
        div.col-sm-4
        div.col-sm-8
          button#btn-submit.btn.btn-primary(type='submit') 登録する

